*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:"Segoe UI",SegoeUI,"Helvetica Neue",Helvetica,Arial,sans-serif;
    
  
}
.navbar{
    height: 10vh;
    width: 100%;
    display: flex;
    justify-content:space-between;
    align-items: center;
   
    padding: 0 4%;
    
}
.navimg{
  width: 108px;
  height: 23px;
  margin-right: 10px;
}
.navleft{
  display: flex;
  
}
li{
  list-style: none;
  margin: 0 10px;
  
}
.middle{
  display: flex;
  
  
}
.navright{
  display: flex;
  align-items: center;
}
.resnav{
  display: none;
}

.container{
     display: flex;
     background-image: url(background.jpg);
    background-size:   cover;
    background-repeat: no-repeat;
     width: 100%;
     height: auto;
}

.contain1{
width: 35%;
 height: vh;
 display: flex;
 justify-content: right;
 align-items: center;

}
.contain2{
width: 65%;
height: 95vh;

}
.containertext{
width: 80%;
display: flex;
height: 35%;
flex-direction: column;
justify-content: space-between;


}
.buttons{
    display: flex;
    justify-content: space-between;
    height: 42px;
    width: 300px;
    font-size: larger;
}
.btn1{
 width: 150px;
 height: 40px;
    background-color:  #0067b8;
    border: none;
    border: none;
    color: white;
}
.btn2{
  width: 150px;
  height: 40px;
    background: none;
    color:  #0067b8;
    border: none;
}


.upmidbox{
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  justify-content: center;
  padding: 7%;

}

.tab{
  width: 200px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}
.laptops{
  display: flex;
  width: 100%;
  justify-content: center;
 
  padding: 0 30px 0 30px;
}
.discription{
  display: flex;
  min-width: 250px ;
  flex-direction: column;
  margin: 10px;

  font-size: small;

 
}
.discription p{
  margin-top: 20px;
}
.learnmore{
  margin-top: 10px;
  text-decoration: none;
  color: #0067b8;
  font-weight: 600;
  font-size: 18px;
}

.bottomlink{
  margin-top: 4px;
}

.watertext{
  background-color: white;
  width: 35%;
 height: 54%;
 padding-left: 4%;
 padding-right: 4%;
 margin-left: 1%;
 margin-top: 10%;
 padding-top: 2%;
}

.watertext h2,p,button{ margin-top: 18px;


}

.btnd{
  background-color:  #0067b8;
  border: none;
  color: white;
  width: 130px;
  height: 35px;
}
.waterbox{
  height: auto;
  background-image: url(waterbackground.jpg);
 padding: 2%;
 height: 87vh;
 width: 89vw;
 margin-left: 5%;
 margin-top: 9%;
 margin-bottom: 5%;



}
.imagee{
  margin-left: 3.5%;
  
}
.textcontainM{
  width: 100%;
  padding-left: 5%;

  display: none;
}
.chairtab{
  display: flex;
  justify-content: space-evenly;
  padding-left: 3%;
  padding-right: 3%;
  width: 100%;
}
.chairtab1{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 260px;
}
.chairlink{
  text-decoration: none;
  color: #0067b8;
  margin-top: 12px;
  font-size: 16px;
  font-weight: 600;
}
.business{
  font-size: 12px;
  margin-left: 60px;
  margin-bottom: 5px;
}
.facebook{
  color: black;
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  width: 20%;
 margin-left: 60px;
 margin-top: 30px;
 margin-bottom: 120px;
}
.footer{
  display: flex;
  justify-content: space-between;
  padding-left: 5%;
  padding-right: 5%;
  width: 100%;
  height: 60vh;
  background-color: rgba(242,242,242,255);
  font-weight: 300;
}
.footer h1{
  font-size: 13px;
  font-weight: 450;
}
.footer li{
  font-size: 10px;
  margin-top: 17px;
}


.footerlist{
  list-style: none;
}
.footer1{
  display: flex;
  flex-direction: column;
  justify-content: space-between;

}
.footern{
  background-color: rgba(242,242,242,255);
  font-size: 13px;
  padding-left: 80px;
  padding-right: 50px;
}
/*Media Querry starts from here */



@media screen and (max-width: 1083px) {


  .middle{
    display: none;
  }
  .bi-list{
    margin-right: 10px;
  }
  .resnav{
    display: block;
  }
  .search{
    display: none;
  }
    
  .container{
    display: flex;
    flex-direction: column-reverse;
    height: 135vh;
    width: 100%;
    background: none;
  }
  .contain1{
    width: 100% !important ;
    height: 35vh !important;

  }
  .contain2{
    width: 100%;
    height: 100vh;
    background-image: url(background.jpg);
    background-size: cover;
    background-position-y: 50%;
   
   
  }
  .containertext{
   
    height: 30vh;
    width: 80%;
    margin-right: 10%;
   
  }

  .navbar{
    height: 5vh;
  }
  .upmidbox{
    display: flex;
    flex-wrap: wrap !important;
  }
  .laptops{
    flex-wrap: wrap !important;
  }
 .waterbox{

 background-image: url(backgroundresponsive.jpg);
 width: 100vw;
 height: 100vh;
 display: block;
 }
.watertext{
display: none;
}

.textimgcontain{
  display: flex;
  flex-direction: column;
  
}
.watertext{
  width: 90%;
  margin-top: 40%;
}
.imagee{
  width: 100%;
  display: none;
}
.textcontainM{
  width: 100%;
  padding-left: 5%;

  display: block;
}
.chairtab{
  flex-wrap: wrap;
 
}

.footer{
  display: flex;
  flex-direction: column;
  background: none;
}
.footern{
  display: none;
}
.facebook{
  width: 50%;
}

}
